* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
}
.p {
  text-align: center;
}

.p {
  display: block;
}
.fotoPrincipal {
  width: 100%;
}

footer {
  height: 678px;
  background-color: #451179;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  padding: 1rem;
  z-index: 100;
  transition: all 0.2s ease;
}

.colored {
  background: #333;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.tudo header .fundo img {
  width: 100%;
}

header .cabecalho {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

.flex-container {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
    
}

.flex-container{
    height: 100%;
    width: 90%;
    display: flex;

}

.flex-container{
    height: 100%;
    width: 90%;
    display: flex;
}

ul.links {
  display: flex;
  align-items: center;
  list-style: none;
}

ul.links a:hover {
  color: #451179;
}

.logo {
  height: 80px;
  width: 80px;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

ul.links li > a {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
}

section.hero {
  height: 100vh; /* viewport height */
  width: 100%;

  background-image: url("../imagens/1054256.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0rem 5rem;
}

section#services {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto 3rem;
}

section#services .services-title {
  font-size: 32px;
  color: #222;
}

section#services .service-cards .services_wrapper {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
}

section#services .service-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section#services .service-cards .service-card {
  height: fit-content;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.15);
  background: white;
}

section#services .service-cards .service-card .service-card_img {
    height: 100%;
    width: 100%;
    position: relative;
}

section#services .service-cards .service-card .service-card_img img {
  width: 100%;
  height: 100%;
  border-radius: 12px 12px 0px 0px;
  object-fit: contain;
}

.service-card .service-card_img .service-icon {
  position: absolute;
  left: 50%;
  right: 0;
  bottom: -1.5rem;
  transform: translateX(-50%);
  height: 72px;
  width: 72px;
  border-radius: 50%;
  border: 5px solid white;
  background: white;
  padding: 1rem;
}

.service-card .service-card_img .service-icon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.service-card .service-card_content {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.service-card .service-card_content .card-content_action button {
    border: 2px solid #5177FF;
    outline: none;
    padding: 0.75rem 1.25rem;
    font-size: 16px;
    background: #5177FF;
    color: #eee;
    border-radius: 15px;
    transform: scale(1);
    transition: all .4s ease-in-out;
    text-align: center;
    box-shadow: 0px 2px 10px rbga(4, 4, 4, 0.125);
}

.service-card .service-card_content .card-content_action button:hover {
    background: transparent;
    color: #5177FF;
    transform: scale(1.02);
}

section#services .service-card:hover{
    border: 3px solid #451179;
    font-size: 16px;
    border-radius: 15px;
    transition: all .4s ease-in-out;
    box-shadow: 0px 2px 10px rbga(4, 4, 4, 0.125);
}
section#services .service-card .service-icon:hover{
    background: #933491;
    color: white;
    transition: all .4s ease-out;
 }
 section#services .service-card .service-icon:hover{
    fill: #451179;
 }

.service-icon{
    filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.10));
 }

.slogan {
    font-size: 64px;
    color: #eee;
    width: 50%;
}

.service-card .service-card_content .card-content_action button:hover {
  background: transparent;
  color: #5177ff;
  transform: scale(1.02);
}

section#services .service-card:hover {
  border: 3px solid #451179;
  font-size: 16px;
  border-radius: 15px;
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 2px 10px rbga(4, 4, 4, 0.125);
}

section#services .service-card .service-icon:hover {
  background: #933491;
  color: white;
  transition: all 0.4s ease-out;
}

section#services .service-card .service-icon:hover {
  fill: #451179;
}

.service-icon {
  filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.1));
}

section#services .service-card:hover{
    border: 3px solid #451179;
    font-size: 16px;
    border-radius: 15px;
    transition: all .4s ease-in-out;
    box-shadow: 0px 2px 10px rbga(4, 4, 4, 0.125);
}

section#services .service-card .service-icon:hover{
    background: #933491;
    color: white;
    transition: all .4s ease-out;
 }
 section#services .service-card .service-icon:hover{
    fill: #451179;
 }

.service-icon{
    filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.10));

 }

.slogan {
  font-size: 64px;
  color: #eee;
  width: 50%;
}

.titulo p {
  color: white;
}

.slogan p {
  text-decoration: none;
  color: #b9b9b9;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.96px;
}

.titulo2 {
  color: #451179;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: solid none;
  margin-bottom: 180px;
  padding-left: 642px;
}

.linha_1 {
  margin-left: 146px;
  margin-bottom: 173px;
  display: flex;
}

.conjunto_imagem {
  text-align: center;
}

.elipse img {
  border-radius: 100%;
  margin-top: -80px;
}

.imagem_servico {
  margin-top: -115px;
  margin-left: 1px;
}

.titulo_servico {
  text-align: center;
  margin-top: 40px;
}

.titulo_servico p {
  color: #451179;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.botao_servico {
  text-align: center;
  margin-top: 90px;
}

.botao_servico button {
  border-radius: 25px;
  width: 248px;
  height: 56px;
  border: none;
  background-color: #5177ff;
  color: #5177ff;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.o_que_e_noldzs {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  padding: 0rem 1rem;
}

.texto_imagem {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto_imagem img {
  height: 450px;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.texto_imagem p {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 28.5px;
  color: #451179;
  font-family: Poppins;
}

.titulo3 {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.titulo3 h2,
.titulo3 p {
  color: #451179;
  display: block;
  font-family: Poppins;
  font-style: normal;
  line-height: normal;
}

.titulo3 h2 {
  margin-bottom: 1rem;
}

.titulo3 p {
  font-size: 16px;
  line-height: 28.5px;
}

section#container-cliente {
  height: fit-content;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 2rem;
  align-items: center;
  background: #f4f4f4;
}

.titulo4 {
  display: flex;
  justify-content: center;
  font-family: poppins;
  font-size: 24px;
  padding: 20px;
  margin-top: 20px;
  color: #451179;
}

.portifolio_cliente {
  background: #f4f4f4;
}

.cliente {
  display: flex;
  height: 400px;
  width: 100%;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.15);
  background: white;
}

.cliente .imagem_cliente1 {
  height: 200px;
  width: 100%;
}

.cliente .imagem_cliente1 img {
  width: 100%;
  height: 100%;

  object-fit: contain;
  object-position: center;
}

.titulo_cliente {
  font-size: 24px;
  margin: 10px;
  font-family: poppins;
  color: #451179;
}

.cliente .botao_clientes {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.cliente .botao_clientes button {
  border: 2px solid #5177ff;
  display: block;
  outline: none;
  padding: 0.75rem 1.25rem;
  font-size: 16px;
  background: #5177ff;
  color: #eee;
  border-radius: 15px;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
  text-align: center;
  margin: 20px;
  box-shadow: 0px 2px 10px rbga(4, 4, 4, 0.125);
}

.cliente .botao_clientes button:hover {
  background: transparent;
  color: #5177ff;
  transform: scale(1.02);
}
    

.paragrafo3{
    width: 180%;
    margin-left: 22%;
    color: #451179;
    display: flex;
    text-align: justify;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
     
    line-height: normal;
}

section#container-cliente {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0rem 10rem;
}

.nav-toggle {
  display: none;
}

button:hover {
  background-color: #451179;
  cursor: pointer;
}

a:hover {
  color: #5177ff;
  cursor: pointer;
}

/* Celular */
@media only screen and (max-width: 550px) {
  .cabecalho ul,
  .titulo {
    display: none;
  }

  section#container-cliente {
    justify-content: center;
  }
  
  .texto_imagem .imagem_homem {
    display: flex;
    flex-direction: column;
  }

  .texto_imagem p {
    margin-top: 2rem;
  }

  .slogan {
    font-size: 32px !important;
    width: 100%;
  }

  .nav-toggle {
    display: block;
  }

  .nav-toggle svg {
    width: 32px;
    height: 32px;
  }
}

/* Tablet */
@media only screen and (min-width: 550px) {
  .slogan {
    font-size: 32px;
  }

  section#services .service-cards .service-card {
    width: 300px;
  }

  .o_que_e_noldzs {
    padding: 0rem 1rem;
  }

  .texto_imagem .imagem_homem {
    display: flex;
    column-gap: 1rem;
  }

  .texto_imagem p {
    font-size: 14px;
    line-height: 21.4px;
  }

  section#container-cliente {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 30px;
    margin: 0 auto;
  }

  section#container-cliente .cliente {
    width: 300px;
    height: 350px;
  }

  .titulo p {
    background: red;
    z-index: 10000;
  }
}

@media only screen and (min-width: 992px) {
    .slogan {
        font-size: 48px;
    }

    section#services .service-cards .services_wrapper {
        justify-content: space-around;
    } 

    .titulo3 {
      padding: 0px 2.5rem;
    } 

    .titulo3 h2,
    .titulo3 p {
      margin: 0;
      width: 100%;
    } 
   
    .texto_imagem img {
      width: 75%;
    }

    .texto_imagem p {
        width: 80%;
        margin: 0rem auto 0rem;
    }


    .titulo3 h2 {
        margin-bottom: 1rem;
    }

    .cliente {
        width: 300px;
        height: 350px;
    }
}

@media only screen and (min-width: 1440px) {
    .slogan {
        font-size: 64x;
    } 

    section#services .service-cards .services_wrapper { 
        justify-content: center;
        column-gap: 2rem;
    }

    .titulo3 {
      padding: 0px;
      width: 80%;
      margin: 3rem auto 0rem;
    }

    .imagem_homem {
      justify-content: center;
    }

    .imagem_homem img {
      width: fit-content;
    }

    .imagem_homem p {
      width: 50%;
      margin: 0rem;
    } 
}

@media only screen and (min-width: 1920px) {
    .titulo3 {
      width: 75%;
      padding: 0rem 1.5rem;
    }
  
}



