:root {
    --sm: 550px;
    --md: 850px;
    --lg: 1348px;
    --xl: 1920px;
    --xxl: 2560px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
}
.p{
    text-align: center;
}

.p{
    display: block;
}
.fotoPrincipal{
    width: 100%;
}

footer{
    /* width: 1920px; */
     height: 678px; 
    background-color: #451179;
}

header {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    padding: 1rem;
    z-index: 100;
    transition: all .2s ease;
}

.colored {
    background: #333;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.tudo header .fundo img{
    width: 100%;
}



header .cabecalho {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    
}

.flex-container{
    height: 100%;
    width: 90%;
    display: flex;

}

.flex1{
    flex: 1;
}

ul.links {
    display: flex;
    align-items: center;
    list-style: none;
}

.logo {
    height: 80px;
    width: 80px;
    
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

ul.links li > a {
    display: block;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
}

section.hero {
    height: 100vh; /* viewport height */
    width: 100%;

    background-image: url('./1054256.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 5rem;
}



section#services {
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    /* padding: 4rem 0rem; */
    margin: 2rem 0rem 10rem;
    /* column-gap: 2rem; */
    /* background: #d9d9d9; */
}



section#services .services-title {
    font-size: 32px;
    color: #222;
}

section#services .service-cards {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 50px;
    justify-content: space-evenly;

}

section#services .service-cards .service-card {
    height: fit-content;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background: blue; */
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.15);
    background: white;
}

section#services .service-cards .service-card .service-card_img {
    height: 100%;
    width: 100%;
    position: relative;
}

section#services .service-cards .service-card .service-card_img img {
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0px 0px;
    object-fit: contain;
}


.service-card .service-card_img .service-icon {
    position: absolute;
    left: 50%;
    right: 0;
    bottom: -1.5rem;
    transform: translateX(-50%);
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border: 5px solid white;
    background: white;
    padding: 1rem;
}

.service-card .service-card_img .service-icon img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.service-card .service-card_content {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.service-card .service-card_content .card-content_action button {
    border: 2px solid #5177FF;
    outline: none;
    padding: 0.75rem 1.25rem;
    font-size: 16px;
    background: #5177FF;
    color: #eee;
    border-radius: 15px;
    transform: scale(1);
    transition: all .4s ease-in-out;
    text-align: center;
    box-shadow: 0px 2px 10px rbga(4, 4, 4, 0.125);
    /* display: ; */
}

.service-card .service-card_content .card-content_action button:hover {
    background: transparent;
    color: #5177FF;
    transform: scale(1.02);
}

section#services .service-card:hover{
    border: 3px solid #451179;
    /* outline: none; */
    /* padding: 0.75rem 1.25rem; */
    font-size: 16px;
    /* background: #5177FF; */
    /* color: #eee; */
    border-radius: 15px;
    /* transform: scale(1); */
    /* transition: all .4s ease-in-out; */
    /* text-align: center; */
    transition: all .4s ease-in-out;
    box-shadow: 0px 2px 10px rbga(4, 4, 4, 0.125);
}
section#services .service-card .service-icon:hover{
    background: #933491;
    color: white;
    transition: all .4s ease-out;
    /* color: #5177FF; */
    /* transform: scale(1.02);  */
    /* transform: scale(1.02); */
 }
 section#services .service-card .service-icon:hover{
    fill: #451179;
 }

.service-icon{
    filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.10));

 }

.slogan {
    font-size: 64px;
    color: #eee;
    width: 50%;
}

.titulo p {
    color: white;
}


.slogan p {
    text-decoration: none;
    color: #B9B9B9;
    font-family: Poppins;
    /* font-size: 32px; */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.96px;
}

.titulo2{
    color: #451179;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: solid none;
    margin-bottom: 180px;
    padding-left: 642px;
}


.linha_1{
    margin-left: 146px;
    margin-bottom: 173px;
    display: flex;
}

.linha_2{
    margin-left: 146px;
    margin-bottom: 80px;
    display: flex;
}

.servico1, .servico2, .servico3, .servico4, .servico5, .servico6{
    border: solid none;
    border-radius: 5px;
    background-color: white;
    width: 450px;
    height: 586px;
    /* margin-right: 139px; */
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.05);
}



.conjunto_imagem {
    text-align: center;
}

.elipse img{
    border-radius: 100%;
    margin-top: -80px;
}

.imagem_servico{
    margin-top: -115px;
    margin-left: 1px;
}

.titulo_servico{
    text-align: center;
    margin-top: 40px;
}

.titulo_servico p{
    color: #451179;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.botao_servico{
    text-align: center;
    margin-top: 90px;
}

.botao_servico button{
    border-radius: 25px;
    width: 248px;
    height: 56px;
    border: none;
    background-color: #5177FF;
    color: #5177FF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.o_que_e_noldzs{
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

.o_que_e_noldzs p{
    padding: 15px;
    /* margin: 20px; */
    align-items: center;
}

.texto_imagem{
    display: flex;
   
}

.imagem_homem {
    text-align: end;
    justify-content: space-between;
    
}
/* .titulo3{
    margin-top: 100px;
    margin-left: 53.59px;
} */

.titulo3{
    color: #451179;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
}

.paragrafo2{
    font-size: 22px;
    line-height: 32px; /* 140% */
}

.paragrafo1{
    font-weight: 500; 
} 

 .paragrafo3{
    
} 

.paragrafo3{
    /* height: 1000%; */
    width: 180%;
    margin-left: 22%;
    color: #451179;
    display: flex;
    text-align: justify;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
     
    line-height: normal;
}

section#container-cliente{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 50px;
    justify-content: space-evenly;
}

.imagem_cliente1 img{
    width: 392px;
    height: 181px;
}

section#services {
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    /* padding: 4rem 0rem; */
    margin: 2rem 0rem 10rem;
    /* column-gap: 2rem; */
    /* background: #d9d9d9; */
}

section#container-cliente .service-cards {
    display: flex;
    height: fit-content;
    flex-direction: row; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.15);
    background: white;
    row-gap: 50px;
}

section#container-cliente .service-cards .cliente1{
    display: flex;
    gap: 20px;
}
/* .paragrafo1 p{
    color: #2E2E2E;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px; 
    letter-spacing: 0.8px;
} */
/* 
.paragrafo2{
    width: 732px;
    margin-top: 10px;
}

.paragrafo2 p, .paragrafo3 p{
    color: #767676;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.8px;
}

.paragrafo3{
    width: 1628px;
    margin-top: 10px;
    margin-left: -890px;
}

.botao_descricao{
    padding-left: 791px;
    margin-top: -166px;
} */

 /* .botao_descricao button{
    border: none;
    width: 338px;
    height: 95px;
    border-radius: 25px;
    background-color: #5177FF;
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.titulo4{
    margin-left: 685px;
    margin-top: 171px;
}

.titulo4 p{
    color: #451179;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tudo{
    display: flex;
}

.cliente1{
    margin-left: 148px;
    margin-right: 74px;
}

.cliente3{
    margin-left: 74px;
}

.cliente1, .cliente2, .cliente3{
    border: solid none;
    width: 492px;
    height: 570px;
    margin-top: 86px;
    margin-bottom: 361px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.10)
    #F4F4F4;
} 
.titulo_cliente1, .titulo_cliente2, .titulo_cliente3{
    margin: 29px 137px;
}

.titulo_cliente1 p, .titulo_cliente2 p, .titulo_cliente3 p{
    color: #451179;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.botao_clientes{
    padding-left: 93px;
    margin-top: 45px;
}

.botao_clientes button{
    width: 306px;
    height: 69px;
    border: none;
    border-radius: 25px;
    background-color: #5177FF;
    color: #FFF;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} */

.nav-toggle {
    display: none;
}

button:hover{
    background-color: #451179;
    cursor: pointer;
}

a:hover{
    color:#5177FF;
    cursor: pointer;
}
/* Celular */
@media only screen and (max-width: 550px) {

    .cabecalho ul,
    .titulo {
        display: none;
    }

    .slogan {
        font-size: 32px !important;
        width: 100%;
    }

    .nav-toggle {
        display: block;
    }

    .nav-toggle svg {
        width: 32px;
        height: 32px;
        
    }
}

/* Tablet */
@media only screen and (max-width: var(--md)) {
    .titulo p {
        background: red;
        z-index: 10000;
    }
}

@media screen and (max-width: var(--lg)) {

}

@media screen and (max-width: var(--xl)) {

}

@media screen and (max-width: var(--xxl)) {

}